life.plocha.eu {
    basic_auth /* {
        jurek $2a$14$YFYzYUlbo3ihDIeHt3oKzO4kyIzT9Ux/mtW4XLui4ZEbTycsN8g7G
    }
    
    handle /api/* {
        reverse_proxy localhost:8000
    }
    
    handle {
        root * /opt/life-systems/api/static
        try_files {path} /index.html
        file_server
    }
    
    log {
        output file /var/log/caddy/life-systems.log
    }
}
