[Unit]
Description=Life Systems - Activities Sync Timer
Requires=life-systems-activities.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=4h
Unit=life-systems-activities.service

[Install]
WantedBy=timers.target
